:root {
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  --color: rgb(241, 237, 237);
  --background-color: rgb(6 182 212);
  --gap: 0.5rem;
  --radius: 0.5rem;
  --font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.nav {
  width: 100%;
  min-height: 6rem;
  height: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* start nav__sort */
.nav__sort {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}
.nav__sort-span {
  font-size: medium;
  margin: 0.5rem;
}
.nav__sort-button {
  padding: 0.5rem 1rem;
  column-gap: var(--gap);
  border-radius: var(--radius);
  background-color: var(--background-color);
  color: var(--color);
  border: none;
  font-size: medium;
  font-weight: var(--font-weight);
  box-shadow: var(--shadow);
  cursor: pointer;
}
.nav__sort-button:hover {
  opacity: 80%;
}
/* end nav__sort */

/* start nav__date */
.nav__date {
  display: flex;
  align-items: center;
}
.end-date,
.start-date {
  border-radius: var(--radius);
  padding: 5px 15px;
  margin: 0.2rem;
  font-size: larger;
  font-weight: var(--font-weight);
  cursor: pointer;
}
.nav__date-button {
  padding: 5px 2rem;
  margin: 0.2rem;
  border-radius: var(--radius);
  border: none;
  background-color: var(--background-color);
  font-weight: var(--font-weight);
  color: var(--color);
  cursor: pointer;
  box-shadow: var(--shadow);
}
.nav__date-button:hover {
  opacity: 80%;
}
/* end nav_data */

/* start category */
.nav__category-button {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--gap);
  padding: 0.6rem;
  cursor: pointer;
  border-radius: var(--radius);
  border: none;
  margin: 0.5rem 0;
  box-shadow: var(--shadow);
  position: relative;
  color: var(--color);
  font-weight: var(--font-weight);
}
.nav__category-button:hover {
  opacity: 80%;
}

.bx {
  font-size: 1.1rem;
}

.nav__category-dropdown {
  position: absolute;
  width: 12rem;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  margin-top: 0.3rem;
  background: rgb(66, 65, 65);
  color: var(--color);
  visibility: hidden;
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
}

.nav__category-dropdown div {
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  padding: 0.8rem 1rem;
  color: var(--color);
  cursor: pointer;
}

.nav__category-dropdown div:hover {
  background-color: var(--background-color);
  color: var(--color);
}

.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
}
.category-arrow {
  transform: rotate(180deg);
  transition: 0.2s ease;
}
/* end category */

/* start container */
.container-cards {
  width: 100%;
}
.container-card {
  width: 60%;
  min-height: 15%;
  height: auto;
  margin: 1.5rem auto;
  padding: 0.1rem;
  box-shadow: 0px 0px 10px 0px #5f5f5fe2;
  border-radius: var(--radius);
}
.container-card div {
  margin: 1px 10px;
  font-weight: var(--font-weight);
  font-size: 0.8rem;
}
.container-card div span {
  color: rgb(6 182 212);
  font-weight: var(--font-weight);
  font-size: larger;
}
.container-card h1 {
  margin: 10px 10px;
}
.container-card p {
  margin: 10px 10px;
  color: rgb(82, 80, 80);
}
/* end container */
@media screen and (max-width: 580px) {
  .nav {
    display: block;
  }
  .nav__sort {
    display: flex;
  }
  .nav__date {
    flex-direction: column;
    margin-left: 0.5rem;
    align-items: start;
  }
  .nav__category {
    margin-left: 0.5rem;
  }

  .nav__container {
    width: 90%;
    margin-top: 1rem;
    margin-left: 0.5rem;
  }
  .container-card {
    width: 90%;
  }
}
